
.navbar__custom {
    background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark);
    color: $color-white;
    .nav-link {
        &:link,
        &:visited {
            color: $color-white;
            text-decoration: none;
        }
    }
    .navbar-brand{
        color: $color-white;
    }
}

.navbar-toggler-icon{
  background-color: #fff;

}


.dropdown-header{
  color: white;
  font-size: 1rem;
}
