.courses{
    // background-color: $color-white;

    &__list{

        &--item{
           width: 70%;

            margin: 1rem 0;
            box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);
            transition: all .2s;

            &:hover{
                transform: translateY(-5px);
            }
        }
    }
}

.card{

  &--link{
    @include fill-link;
  }
  &-text{
    color: #000000;
  }
}
