<main class="container">
  <div *ngIf="!isLoaded">loading</div>
  <section class="course" *ngIf="isLoaded">

    <div class="course__info">
      <div class="course__row">
        <div class="course__header">
          <div class="course__image"></div>
          <h1 class="course__heading text-muted display-4">
            <a [routerLink]="['/system/'+course.Id+'/course/info']">{{course.Title}}</a>

            <hr>
          </h1>
        </div>
      </div>

      <p class="course__description">
       {{course.Description}}
      </p>

    </div>
      <router-outlet></router-outlet>
  </section>
</main>
