<main class="container">
  <section class="course">

    <div class="course__info">
      <div class="course__header">
        <div class="course__image"></div>
        <h1 class="course__heading text-muted display-4">
          <a [routerLink]="['/course/info']">UML</a>

          <hr>
        </h1>
      </div>
      <p class="course__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis iste qui excepturi veniam ipsa unde accusantium quod
        aliquid, libero consectetur.
      </p>
    </div>

      <peer-review-course-page></peer-review-course-page>

  </section>
</main>
