/*universal selector instead of normalize.css*/
*,
*::after,
*::before {
  box-sizing: inherit; }

html, body {
  font-size: 100%;
  height: 100%; }

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center; }

.form__auth {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto; }
  .form__auth h1 {
    margin-bottom: 2rem; }
  .form__auth label {
    width: 23%;
    text-align: center; }
  .form__auth .form-control {
    display: inline-block;
    width: 75%; }
