/*universal selector instead of normalize.css*/
*,
*::after,
*::before {
  box-sizing: inherit; }

html, body {
  font-size: 100%;
  height: 100%; }

body {
  box-sizing: border-box; }

a:link, a:visited {
  color: #000;
  text-decoration: none; }

a:focus {
  outline: none; }

li {
  list-style-type: none; }

.heading-primary {
  display: block;
  width: 100%;
  margin: 2rem auto; }

.heading-tertiary {
  font-size: 2rem;
  text-align: center; }

.navbar__custom {
  background-image: linear-gradient(to right bottom, #00d7e4, #307ff2);
  color: #fff; }
  .navbar__custom .nav-link:link, .navbar__custom .nav-link:visited {
    color: #fff;
    text-decoration: none; }
  .navbar__custom .navbar-brand {
    color: #fff; }

.dropdown-item a {
  color: #000; }

.solution__content {
  margin: 0.5rem 1rem 1rem 1.5rem; }

.courses__list--item {
  width: 80%;
  margin: 1rem 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: all .2s; }
  .courses__list--item:hover {
    transform: translateY(-5px); }

body {
  background-color: #eef0f4; }

.jumbotron {
  background-image: url(../img/hero_Image.png);
  height: 30rem;
  background-size: cover;
  color: white; }

.course__info {
  background-color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem; }

.course__header {
  display: flex; }

.course__image {
  width: 7rem;
  height: 7rem;
  background-image: linear-gradient(to right bottom, #00d7e4, #307ff2);
  border-radius: 50%;
  margin-left: 2rem; }

.course__heading {
  margin-left: 2rem; }

.course__description {
  margin: 1rem 2rem 1rem 3.5rem; }

.course-content {
  margin-top: 2rem;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  .course-content__fragment, .course-content__nav {
    background: #fff;
    border-radius: 5px; }
  .course-content__nav {
    flex: 0 0 20%;
    margin-right: 1.5rem; }
    .course-content__nav--list {
      height: 100%;
      width: 100%;
      margin: 0px;
      padding-left: 0px;
      display: flex;
      flex-direction: column; }
    .course-content__nav--link {
      display: block;
      height: 100%;
      width: 100%; }
      .course-content__nav--link:hover {
        background-color: #eee; }
    .course-content__nav--heading {
      display: inline-block;
      padding: 1rem; }
  .course-content__fragment {
    flex: 1 1; }
    .course-content__fragment--list {
      margin: 1rem 2rem 1rem 0; }
    .course-content__fragment--item {
      border-bottom: 1px solid #00d7e4;
      transition: all .2s;
      margin-bottom: 2rem; }
      .course-content__fragment--item:hover {
        cursor: pointer;
        transform: translateY(-2px); }

.auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .auth__form {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto; }
    .auth__form h1 {
      margin-bottom: 2rem; }
    .auth__form label {
      width: 23%;
      text-align: center; }
    .auth__form .form-control {
      display: inline-block;
      width: 75%; }
