<main class="container">
  <section class="courses">
    <ul class="courses__list">
      <h1 class="heading-primary">My courses</h1>

      <li class="courses__list--item" *ngFor="let course of courses">
        <div class="card">
          <div class="card-body">
            <a class="card--link" [routerLink]="['/system/'+course.Id]">
              <h5 class="card-title">{{course.Title}}</h5>
              <p class="card-text">{{course.Description}}</p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </section>

</main>
