
<div class="course-content__fragment--element">
  <h3 class="heading-tertiary display-4">Criteria</h3>

  <div class="criteria">
    <table class="table criteria__table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Max score</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Fun</td>
        <td>10</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Cats</td>
        <td>5</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
