<div class="auth">
  <form [formGroup]="form" (submit)="onSubmit()">
    <h1 class="display-4 text-center">Sign up</h1>
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" class="form-control"
             id="login"
             placeholder="Enter login"
             formControlName="login"
      >
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control"
             id="email"
             placeholder="Enter email"
             formControlName="email"
      >
    </div>

    <div class="form-group">
      <label for="firstname">First name</label>
      <input type="text" class="form-control"
             id="firstname"
             placeholder="Enter your first name"
             formControlName="firstName"
      >
    </div>

    <div class="form-group">
      <label for="secondname">Last name</label>
      <input type="text" class="form-control"
             id="secondname"
             placeholder="Enter your last name"
             formControlName="lastName"
      >
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             class="form-control"
             id="password"
             placeholder="Password"
             formControlName="password"
      >
    </div>

    <div class="form-group">
      <label for="biography">Additional info</label>
      <input type="text"
             class="form-control"
             id="biography"
             placeholder="I love UML"
             formControlName="biography"
      >
    </div>
    <button type="submit" class="btn btn-outline-success btn-block"
            [disabled]="form.invalid"
    >Submit
    </button>
  </form>
</div>

