<main class="container">
  <section class="courses">
    <ul class="courses__list">
      <h1 class="heading-primary">Invitations</h1>
      <li class="courses__list--item">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Кусь</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quas.</p>
          </div>
        </div>
      </li>
      <li class="courses__list--item">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">за</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quas.</p>
          </div>
        </div>
      </li>
      <li class="courses__list--item">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ухо</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quas.</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

</main>
