
<!--criteria table-->
<div class="course-content__fragment--element">
  <h3 class="heading-tertiary display-4">Criteria</h3>

  <div class="criteria">
    <table class="table criteria__table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Max score</th>

      </tr>
      </thead>
      <tbody>

      <tr  *ngFor="let criteria of task.CriteriaCollection">
        <th scope="row">1</th>
        <td>{{criteria.Title}}</td>
        <td>{{criteria.MaxPoint}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<!--/criteria table-->

<div class="course-content__fragment--element">
  <h3 class="heading-tertiary display-4">Add new criteria</h3>
  <hr>

  <form class="form form__criteria" #solutionForm="ngForm" (ngSubmit)="onSubmit(solutionForm)">
      <div class="form-group form__criteria--name">

        <label for="solution-title">Name</label>
        <input type="text"
               class="form-control"
               id="solution-title" placeholder="Criteria name"
               required
               name="name"
               ngModel
        >
      </div>
      <div class="form-group form__criteria--value">
        <label for="solution-text">Max value</label>
        <input type="number"
               class="form-control"
               id="solution-text"
               placeholder=""
               required
               name="max-value"
               ngModel
        >
      </div>
    <button type="submit"
            class="btn btn-outline-success form__criteria--button"
            [disabled]="solutionForm.invalid"
    >+
    </button>
  </form>
</div>
