<peer-review-criteria></peer-review-criteria>
<div class="course-content__fragment--element">
  <h3 class="heading-tertiary display-4">Add new criteria</h3>
  <hr>

  <form class="form form__criteria" #solutionForm="ngForm" (ngSubmit)="onSubmit(solutionForm)">
      <div class="form-group form__criteria--name">

        <label for="solution-title">Name</label>
        <input type="text"
               class="form-control"
               id="solution-title" placeholder="Criteria name"
               required
               name="name"
               ngModel
        >
      </div>
      <div class="form-group form__criteria--value">
        <label for="solution-text">Max value</label>
        <input type="number"
               class="form-control"
               id="solution-text"
               placeholder=""
               required
               name="max-value"
               ngModel
        >
      </div>
    <button type="submit"
            class="btn btn-outline-success form__criteria--button"
            [disabled]="solutionForm.invalid"
    >+
    </button>
  </form>
</div>
