
.jumbotron{

  background-color: #ccc;
  //  background-image: url("../../../images/home.png");
    height: 30rem;
    background-size: cover;
    color: white
    // background-color: rgba($color-white,.2);
}

// .courses{
//     // background-color: $color-white;
// }
