//COLORS

$color-blue-light:rgb(0,215,228);
$color-blue-dark:rgb(48,127,242);
$color-white:#fff;
$color-black:#000;

$color-bg-grey:rgb(238,240,244);
$color-bg-black:rgb(46,52,59);


$component-margin:1rem;
